/* h1 {
  text-align: center;
}

.categories {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
}


@media (max-width: 767px) {
  .categories {
    grid-template-columns: repeat(3, 1fr); 
  }
} */